@{
    ViewBag.Title = "About";
}


<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-lg-12">
                        <div class="hero-content">
                            <h1>Future Craft Digital - Your Partner in Business Growth</h1>
                            <p>At Future Craft Digital, we are a dynamic and forward-thinking company based in the Philippines. Our primary focus is on providing exceptional outsourcing, marketing, web design, point of sale system solutions, and expertise in the leasing and real estate industry. We pride ourselves on delivering innovative and tailored services to help businesses thrive in today's competitive landscape.</p>
                            <br />
                            <p>Whether you're a small startup or a large enterprise, we are committed to understanding your unique business needs and providing customized solutions that align with your goals. Partner with Future Craft Digital and experience a new level of success in outsourcing, marketing, web design, point of sale systems, and leasing and real estate.</p>
                            <a class="btn btn-primary" href="/contact/">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1">
        <img src="../assets/img/shape1.png" alt="shape" />
    </div>
    <div class="shape2 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
    <div class="shape3">
        <img src="../assets/img/shape3.svg" alt="shape" />
    </div>
    <div class="shape4">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape5">
        <img src="../assets/img/shape5.png" alt="shape" />
    </div>
    <div class="shape6 rotateme">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape7">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape8 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
</div>