@{
    ViewBag.Title = "Blogs";
}


<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="section-title">
                    <h1 class="font-weight-bold">The Latest from Our Blogs</h1>
                    <h4>Stay Informed, Stay Inspired: Explore Captivating Insights</h4>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- Start Blog Area -->
<div class="blog-area pt-80 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="/blog-details/">
                            <img src="../assets/img/blog-image/blog1.jpg" alt="image" />
                        </a>
                        <div class="date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            March 15, 2021
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3>
                            <a href="/blog-details/">The Security Risks of Changing Package Owners</a>
                        </h3>
                        <span>
                            By <a href="#">Admin</a>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a class="read-more-btn" href="/blog-details/">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="/blog-details/">
                            <img src="../assets/img/blog-image/blog2.jpg" alt="image" />
                        </a>
                        <div class="date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            March 17, 2021
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3>
                            <a href="/blog-details/">Tips to Protecting Your Business and Family</a>
                        </h3>
                        <span>
                            By <a href="/it-startup/#">Smith</a>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a class="read-more-btn" href="/blog-details/">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="/blog-details/">
                            <img src="../assets/img/blog-image/blog3.jpg" alt="image" />
                        </a>
                        <div class="date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            March 19, 2021
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3>
                            <a href="/blog-details/">Protect Your Workplace from Cyber Attacks</a>
                        </h3>
                        <span>
                            By <a href="/it-startup/#">John</a>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a class="read-more-btn" href="/blog-details/">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination-area">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
    </div>
</div>
