
@{
    ViewBag.Title = "Cloud";
}

<div class="cloud-banner">
    <div class="main-container">
        <h6>Cloud</h6>
        <table class="cloudTbl">
            <tr>
                <th></th>
                <th></th>
                <th class="data-3"> <h6>Reviews</h6> </th>
            </tr>
            <tr class="row-2">
                <td class="data-1"><img src="../assets/img/shop-image/software/adobe-cloud.png" alt="Image Of Adobe Creative Cloud" /></td>
                <td class="data-2"><a class="link" href="#">Adobe Creative Cloud</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>

        </table>
    </div>
</div>
