@{
    ViewBag.Title = "Services";
}


<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Marketing | Digital Marketing</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- Digital Marketing -->
<div class="services-details-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc">
                    <h3>Digital Marketing</h3>
                    <p>In today's digital age, effective marketing goes beyond traditional methods. Digital marketing has emerged as a powerful and dynamic approach to reach and engage with target audiences, leveraging the vast opportunities offered by the online landscape. It encompasses a wide range of strategies and tactics that leverage digital channels such as search engines, social media platforms, email, websites, and more.</p>
                    
                    <p>Digital marketing enables businesses to connect with their audience, build brand awareness, drive website traffic, generate leads, and ultimately achieve measurable business growth. By harnessing the power of digital platforms, businesses can establish a strong online presence, reach their target customers at the right moment, and create meaningful interactions that drive results.</p>
                        
                </div>
            </div>
            <div class="col-lg-6 services-details-image">
                <img src="~/Assets/img/marketing/dm.png" class="animate__animated animate__fadeInUp" alt="image" />
            </div>
        </div>
        <div class="separate"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="~/Assets/img/marketing/dm2.png" class="animate__animated animate__fadeInUp" alt="image" />
            </div>
            <div class="col-lg-6 services-details">
                <div class="services-details-desc">
                    <p>With our digital marketing services, you can expect targeted audience reach, results-driven strategies, and an integrated multichannel approach. We are dedicated to helping your business thrive in the digital realm, driving growth, and achieving your marketing objectives.</p>
                    <div class="services-details-accordion">
                        <div data-accordion-component="Accordion" class="accordion">
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                        <span>Targeted Audience Reach</span>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a">
                                    <p>Expect our digital marketing services to help you effectively reach your target audience. We employ advanced targeting capabilities and audience segmentation techniques to ensure your marketing messages are delivered to the right people at the right time. By understanding your target market and their online behavior, we can tailor campaigns to resonate with their interests and preferences.</p>
                                </div>
                            </div>
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                        <span>Results-Driven Strategies</span>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                                    <p>Our digital marketing services are focused on delivering tangible results for your business. We develop data-driven strategies and set clear objectives to guide our campaigns. Through continuous monitoring, analysis, and optimization, we strive to maximize the performance of your digital marketing efforts. Expect increased brand visibility, improved website traffic, and measurable outcomes aligned with your goals.</p>
                                </div>
                            </div>
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                        <span>Integrated Multichannel Approach</span>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                                    <p>We understand the importance of a cohesive and integrated approach to digital marketing. Our services span multiple channels, including search engine marketing (SEM), social media advertising, content marketing, email marketing, and more. By utilizing a combination of these channels, we create a unified brand experience for your audience, ensuring consistent messaging and maximizing the impact of your marketing efforts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>