@{
    ViewBag.Title = "Ecommerce";
}

<div class="main-container">
    @* Ecommerce Banner *@
    <div class="ml-main-banner">
        <div class="container-fluid">
            <div class="section-title" style="margin-top: 100px">
                <h1 class="font-weight-bold">Welcome to Future Craft Digital Store</h1>
                <h3>Explore a wide range of cutting-edge IT products and solutions.</h3>
                <a class="btn btn-secondary mt-5" href="/contact/">Get Started</a>
            </div>
        </div>
    </div>

    @* Services Section *@
<div class="ml-services-area ptb-80">
    <div class="container">
        <div class="row justify-content-center">
            @* Mobile App Development *@
            <div class="col-lg-6 col-sm-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="~/Assets/img/services-left-image/service-image6.png" alt="image">
                    </div>
                    <h3><a href="/service-details/">Mobile App Development</a></h3>
                    <p>Highlights the ability to create engaging and user-friendly mobile applications for iOS and Android platforms.</p>
                </div>
            </div>
            @* E-commerce Solutions *@
            <div class="col-lg-6 col-sm-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="~/Assets/img/services-left-image/service-image1.png" alt="image">
                    </div>
                    <h3><a href="/service-details/">E-commerce Solutions</a></h3>
                    <p>Emphasizes the expertise in building robust e-commerce platforms with features like secure payment gateways and inventory management.</p>
                </div>
            </div>
            @* Data Analytics *@
            <div class="col-lg-6 col-sm-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="~/Assets/img/services-left-image/service-image5.png" alt="image">
                    </div>
                    <h3><a href="/service-details/">Data Analytics</a></h3>
                    <p>Focuses on helping businesses gain valuable insights from their data for informed decision-making.</p>
                </div>
            </div>
            @* Cybersecurity *@
            <div class="col-lg-6 col-sm-6">
                <div class="single-ml-services-box">
                    <div class="image">
                        <img src="~/Assets/img/services-left-image/service-image4.png" alt="image">
                    </div>
                    <h3><a href="/service-details/">Cybersecurity</a></h3>
                    <p>Highlights comprehensive cybersecurity solutions to protect businesses from potential threats and safeguard their data.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="shape2 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
    <div class="shape3">
        <img src="../assets/img/shape3.svg" alt="shape" />
    </div>
    <div class="shape4">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape5">
        <img src="../assets/img/shape5.png" alt="shape" />
    </div>
    <div class="shape6 rotateme">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape7">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape8 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
</div>


    <div class="shape2 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
    <div class="shape3">
        <img src="../assets/img/shape3.svg" alt="shape" />
    </div>
    <div class="shape4">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape5">
        <img src="../assets/img/shape5.png" alt="shape" />
    </div>
    <div class="shape6 rotateme">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape7">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape8 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
</div>