@{ ViewBag.Title = "StartP"; }

@{ ViewData["Title"] = "Home Page"; }

<div class="main-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <div class="hero-content">
                            <h1>Future Craft Digital - Your Partner in Business Growth</h1>
                            <p>At Future Craft Digital, we are a dynamic and forward-thinking company based in the Philippines. Our primary focus is on providing exceptional outsourcing, marketing, web design, point of sale system solutions, and expertise in the leasing and real estate industry. We pride ourselves on delivering innovative and tailored services to help businesses thrive in today's competitive landscape.</p>
                            <a class="btn btn-primary" href="/contact/">Get Started</a>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="banner-image">
                            <img src="../assets/img//banner-image/man.png" class="animate__animated animate__fadeInDown animate__delay-0.1s" alt="man" />
                            <img src="../assets/img//banner-image/code.png" class="animate__animated animate__fadeInUp animate__delay-0.1s" alt="code" />
                            <img src="../assets/img//banner-image/carpet.png" class="animate__animated animate__fadeInLeft animate__delay-0.1s" alt="carpet" />
                            <img src="../assets/img//banner-image/bin.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="bin" />
                            <img src="../assets/img//banner-image/book.png" class="animate__animated animate__bounceIn animate__delay-0.1s" alt="book" />
                            <img src="../assets/img//banner-image/dekstop.png" class="animate__animated animate__fadeInDown animate__delay-0.1s" alt="dekstop" />
                            <img src="../assets/img//banner-image/dot.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="dot" />
                            <img src="../assets/img//banner-image/flower-top-big.png" class="animate__animated animate__fadeInUp animate__delay-0.1s" alt="flower-top-big" />
                            <img src="../assets/img//banner-image/flower-top.png" class="animate__animated animate__rotateIn animate__delay-0.1s" alt="flower-top" />
                            <img src="../assets/img/banner-image/keyboard.png" class="animate__animated animate__fadeInUp animate__delay-0.1s" alt="keyboard" />
                            <img src="../assets/img/banner-image/pen.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="pen" />
                            <img src="../assets/img/banner-image/table.png" class="animate__animated animate__zoomIn animate__delay-0.1s" alt="table" />
                            <img src="../assets/img/banner-image/tea-cup.png" class="animate__animated animate__fadeInLeft animate__delay-0.1s" alt="tea-cup" />
                            <img src="../assets/img/banner-image/headphone.png" class="animate__animated animate__rollIn animate__delay-0.1" alt="headphone" />
                            <img src="../assets/img/banner-image/main-pic.png" class="animate__animated animate__fadeInUp animate__delay-0.1" alt="main-pic" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1">
        <img src="../assets/img/shape1.png" alt="shape" />
    </div>
    <div class="shape2 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
    <div class="shape3">
        <img src="../assets/img/shape3.svg" alt="shape" />
    </div>
    <div class="shape4">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape5">
        <img src="../assets/img/shape5.png" alt="shape" />
    </div>
    <div class="shape6 rotateme">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape7">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape8 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
</div>

@*marketing strategies*@
@*<div class="boxes-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-box">
                        <div class="icon">
                            <svg fill="#44ce6f" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 256 256;" version="1.1" viewBox="0 0 256 256" xml:space="preserve" width="24" height="24">
                            <g>
                            <path d="M245.4,163.4c-4.6-5.7-12.2-7.6-18.9-4.8l-61.3,25.7c-2.5,1.1-3.7,3.9-2.6,6.4c1.1,2.5,3.9,3.7,6.4,2.6l61.3-25.7   c2.6-1.1,5.6-0.3,7.5,1.9c1.1,1.4,1.6,3.2,1.3,5c-0.3,1.8-1.3,3.4-2.8,4.4c-26.7,17.4-87.4,51.8-90.4,53.5   c-0.1,0.1-0.2,0.1-0.4,0.2l0,0c-7.4,4.4-15.7,5.6-26.1,3.7c-0.7-0.1-14.6-1.8-47.7-5.9l-17.8-2.2v-67c2.8-0.2,5.2-0.3,6.3-0.3   l0.6,0c23.1-1.5,45.2,3,68.6,7.7c3,0.6,6,1.2,9,1.8c3.2,0.6,5.5,3.5,5.5,6.7c0,0.2,0,0.4-0.1,0.8c-0.2,1.9-1.2,3.2-1.9,4   c-1.3,1.3-3,2-4.8,2H90.2c-2.7,0-4.9,2.2-4.9,4.9c0,2.7,2.2,4.9,4.9,4.9H137c4.4,0,8.7-1.8,11.8-4.9c2.7-2.7,4.3-6.1,4.7-9.6   c0.1-0.7,0.2-1.5,0.2-2.2c0-8-5.7-14.9-13.5-16.4c-3-0.6-6-1.2-8.9-1.8c-23-4.6-46.7-9.5-71.1-7.9l-0.5,0c-1.1,0.1-3.5,0.2-6.1,0.3   c-0.6-2.1-2.4-3.7-4.7-3.7H12c-2.7,0-4.9,2.2-4.9,4.9v83.5c0,2.7,2.2,4.9,4.9,4.9h36.9c2,0,3.7-1.2,4.4-2.9l17.1,2.1   c19.5,2.4,46.1,5.6,47.2,5.8c3.7,0.7,7.2,1,10.6,1c8.2,0,15.5-1.9,22.1-5.9c0.1,0,0.1-0.1,0.2-0.1c0.6-0.4,63.5-35.9,91-53.9   c3.9-2.5,6.5-6.5,7.2-11.1C249.5,171.6,248.2,166.9,245.4,163.4z M44,231.1H16.9v-73.6H44V231.1z" />
                            <path d="M114.6,58.1H75.5v74.3h39.1V58.1z M104.8,122.6H85.3V68h19.4V122.6z" />
                            <path d="M227,42.7h-39.1v89.8H227V42.7z M217.2,122.6h-19.4V52.5h19.4V122.6z" />
                            <path d="M170.8,9h-39.1v123.4h39.1V9z M161,122.6h-19.4V18.9H161V122.6z" />
                           </g>
                            </svg>
                        </div>
                        <h3>
                            <a href="/feature-details/">Marketing Strategies</a>
                        </h3>
                        <p>
                            We are passionate about helping businesses reach their target audience effectively. Our skilled marketing team employs comprehensive strategies, including digital marketing, social media management, SEO optimization, and content creation, to elevate your brand visibility and drive sustainable growth.
                        </p>
                    </div>
                </div>
                @*web development
                <div class="col-lg-3 col-md-6">
                    <div class="single-box bg-f78acb">
                        <div class="icon">
                            <svg fill="#f78acb" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" width="24" height="24">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                            <g>
                            <rect x="155.039" y="97.251" width="122.5" height="30.625"></rect>
                            <rect x="197.148" y="142.232" width="122.5" height="30.625"></rect>
                            <path d="M8 4H16V20H8V4Z" fill="#000000"></path> <!-- Replaced rect with path -->
                            <rect x="197.148" y="232.193" width="122.5" height="30.632"></rect>
                            <rect x="155.039" y="277.166" width="122.5" height="30.625"></rect>
                            <path d="M22.969,362.717h183.75v52.951h-69.863v30.625h216.289v-30.625h-69.863v-52.951h183.75 c12.633,0,22.969-10.336,22.969-22.969V66.676c0-12.633-10.336-22.969-22.969-22.969H22.969C10.336,43.707,0,54.043,0,66.676 v273.073C0,352.381,10.336,362.717,22.969,362.717z M30.625,74.332h428.75v257.76H30.625V74.332z"></path>
                            </g>
                            </g>
                            </svg>
                        </div>
                        <h3>
                            <a href="/feature-details/">Web Development</a>
                        </h3>
                        <p>
                            A powerful online presence is crucial in today's digital era. Our experienced web design and development team creates stunning, user-friendly websites that captivate your audience and deliver seamless user experiences. From responsive design to e-commerce solutions, we ensure your website is visually appealing, functional, and optimized for success.
                        </p>
                    </div>
                </div>
                @*outsource solutions
                <div class="col-lg-3 col-md-6">
                    <div class="single-box bg-c679e3">
                        <div class="icon">

                        </div>
                        <h3>
                            <a href="/feature-details/">Outsourcing Solutions</a>
                        </h3>
                        <p>We understand the importance of maximizing efficiency and reducing costs for businesses. Our outsourcing services cover a wide range of areas, including customer support, back-office operations, data entry, and more. By entrusting your non-core functions to us, you can free up valuable resources and concentrate on your core competencies.</p>
                    </div>
                </div>
                @*leasing and real estate services
                <div class="col-lg-3 col-md-6">
                    <div class="single-box bg-eb6b3d">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
                                <g fill="#c679e3" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(2,2)"><path d="M74.59961,20c-0.9,0 -1.59922,0.30039 -2.19922,0.90039l-21.70117,22.69922c-1.1,1.2 -1.09844,3.10117 0.10156,4.20117c1.1,1 2.69883,1.09883 3.79883,0.29883v18.90039c0,1.7 1.3,3 3,3h34c1.7,0 3,-1.3 3,-3v-18.80078c0.5,0.4 1.10117,0.5 1.70117,0.5c0.7,0 1.49961,-0.29883 2.09961,-0.79883c1.2,-1.1 1.19961,-3.00117 0.09961,-4.20117l-8.90039,-9.29883v-7.40039c0,-1.7 -1.3,-3.09961 -3,-3.09961c-1.7,0 -3,1.3 -3,3v1.09961l-6.79883,-7.09961c-0.6,-0.6 -1.30117,-0.90039 -2.20117,-0.90039zM74.59961,27.40039l14,14.59961v22h-28v-22zM15.69922,71.80078c-1.7,0 -3,1.3 -3,3c0,1.7 1.3,3 3,3h14.30078c0.1,0 0.19922,0.09961 0.19922,0.09961v0.69922v24.5v1h-14.59961c-1.7,0 -3,1.3 -3,3c0,1.7 1.3,3 3,3h14.5c2.3,0 4.30078,-1.29961 5.30078,-3.09961l25.59961,8c0.3,0.1 4.29961,1.19922 9.09961,1.19922c2.6,0 5.30078,-0.29883 7.80078,-1.29883c5.3,-2.1 25.2,-12.6 33.5,-17c2.8,-1.5 5,-5.10078 3.5,-8.80078c-0.9,-2.2 -3.5,-5.69883 -10,-3.79883h-0.09961l-11.60156,3.89844c-1.6,0.5 -2.39844,2.20078 -1.89844,3.80078c0.5,1.6 2.19883,2.40039 3.79883,1.90039l11.5,-3.90039c2.4,-0.7 2.60078,-0.09961 2.80078,0.40039c0.2,0.5 -0.60117,1.09961 -0.70117,1.09961c-13.3,7 -28.9,15.10078 -33,16.80078c-5.2,2.1 -12.89844,-0.10156 -12.89844,-0.10156l-19.60156,-6.19922v-21.30078h2.20117c3.8,0 14.50039,1.20078 18.40039,6.80078c0.6,0.8 1.5,1.30078 2.5,1.30078h14.59961c1.3,0 2.49961,0.89961 2.59961,2.09961v0.29883v0.20117v0.19922c0,0.1 0.00039,0.20117 -0.09961,0.20117c0,0.1 0.00039,0.09922 -0.09961,0.19922c-0.4,0.8 -1.20117,1.40039 -2.20117,1.40039h-21.29883c-1.7,0 -3,1.3 -3,3c0,1.7 1.3,3 3,3h21.19922c2.9,0 5.5,-1.50078 7,-3.80078v-0.09961v-0.09961c0.2,-0.3 0.39961,-0.69961 0.59961,-1.09961v-0.10156c0.2,-0.4 0.30039,-0.69961 0.40039,-1.09961c0,-0.1 0.09961,-0.19883 0.09961,-0.29883c0.1,-0.4 0.10117,-0.70156 0.20117,-1.10156v-0.19922v-0.5v-0.30078v-0.39844c-0.4,-4.3 -4.10156,-7.60156 -8.60156,-7.60156h-13c-7,-8 -21.69883,-8.09961 -22.29883,-8.09961h-9.70117c-0.9,-2.2 -3.09922,-3.79883 -5.69922,-3.79883z"></path></g></g>
                                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g fill="#000000" stroke="none" stroke-width="1"><path d="M-32.29,-19.41l7.75,14.99l7.79,-14.99h4.47l-10.29,18.72v11.14h-3.94v-11.14l-10.29,-18.72zM7.17,10.45h-3.98c-0.22,-0.44 -0.4,-1.22 -0.54,-2.34v0c-1.76,1.83333 -3.86333,2.75 -6.31,2.75v0c-2.18667,0 -3.98333,-0.62 -5.39,-1.86c-1.4,-1.23333 -2.1,-2.8 -2.1,-4.7v0c0,-2.31333 0.88,-4.11 2.64,-5.39c1.75333,-1.27333 4.22333,-1.91 7.41,-1.91v0h3.69v-1.75c0,-1.32667 -0.39667,-2.38 -1.19,-3.16c-0.79333,-0.78667 -1.96,-1.18 -3.5,-1.18v0c-1.35333,0 -2.49,0.34 -3.41,1.02c-0.91333,0.68667 -1.37,1.51333 -1.37,2.48v0h-3.82c0,-1.10667 0.39333,-2.17667 1.18,-3.21c0.78667,-1.02667 1.85333,-1.84333 3.2,-2.45c1.34667,-0.6 2.82667,-0.9 4.44,-0.9v0c2.56,0 4.56333,0.64 6.01,1.92c1.45333,1.28 2.20667,3.04 2.26,5.28v0v10.21c0,2.04 0.26,3.66 0.78,4.86v0zM-3.11,7.56v0c1.19333,0 2.32333,-0.30667 3.39,-0.92c1.06667,-0.62 1.83667,-1.42 2.31,-2.4v0v-4.56h-2.97c-4.64667,0 -6.97,1.36 -6.97,4.08v0c0,1.19333 0.39667,2.12333 1.19,2.79c0.79333,0.67333 1.81,1.01 3.05,1.01zM13.75,-11.74l5.54,16.63l5.16,-16.63h4.07l-8.93,25.61c-1.38,3.69333 -3.57333,5.54 -6.58,5.54v0l-0.72,-0.06l-1.41,-0.27v-3.07l1.02,0.08c1.28667,0 2.29,-0.26 3.01,-0.78c0.71333,-0.52 1.30333,-1.47 1.77,-2.85v0l0.84,-2.26l-7.91,-21.94zM36.43,-19.41l-0.29,21.43h-3.42l-0.27,-21.43zM32.31,8.54v0c0,-0.61333 0.18667,-1.13 0.56,-1.55c0.38,-0.41333 0.93667,-0.62 1.67,-0.62c0.74,0 1.30333,0.20667 1.69,0.62c0.38,0.42 0.57,0.93667 0.57,1.55c0,0.62 -0.19,1.13 -0.57,1.53c-0.38667,0.40667 -0.95,0.61 -1.69,0.61c-0.73333,0 -1.29,-0.20333 -1.67,-0.61c-0.37333,-0.4 -0.56,-0.91 -0.56,-1.53z"></path></g></g>
                            </svg>


                        </div>
                        <h3>
                            <a href="/feature-details/">Leasing and Real Estate</a>
                        </h3>
                        <p>In the fast-paced world of leasing and real estate, having a trusted partner is invaluable. Future Craft Digital offers specialized services to optimize your leasing and real estate operations. From property management software to marketing strategies tailored for the real estate industry, we provide comprehensive solutions to help you succeed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- Services Summary -->
<div class="boxes-area" id="servicesSummary">
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <h1>Services</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-box">
                    <div class="icon">
                        <svg fill="#44ce6f" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Layer_1" style="enable-background:new 0 0 256 256;" version="1.1" viewBox="0 0 256 256" xml:space="preserve" width="24" height="24">
                        <g>
                        <path d="M245.4,163.4c-4.6-5.7-12.2-7.6-18.9-4.8l-61.3,25.7c-2.5,1.1-3.7,3.9-2.6,6.4c1.1,2.5,3.9,3.7,6.4,2.6l61.3-25.7   c2.6-1.1,5.6-0.3,7.5,1.9c1.1,1.4,1.6,3.2,1.3,5c-0.3,1.8-1.3,3.4-2.8,4.4c-26.7,17.4-87.4,51.8-90.4,53.5   c-0.1,0.1-0.2,0.1-0.4,0.2l0,0c-7.4,4.4-15.7,5.6-26.1,3.7c-0.7-0.1-14.6-1.8-47.7-5.9l-17.8-2.2v-67c2.8-0.2,5.2-0.3,6.3-0.3   l0.6,0c23.1-1.5,45.2,3,68.6,7.7c3,0.6,6,1.2,9,1.8c3.2,0.6,5.5,3.5,5.5,6.7c0,0.2,0,0.4-0.1,0.8c-0.2,1.9-1.2,3.2-1.9,4   c-1.3,1.3-3,2-4.8,2H90.2c-2.7,0-4.9,2.2-4.9,4.9c0,2.7,2.2,4.9,4.9,4.9H137c4.4,0,8.7-1.8,11.8-4.9c2.7-2.7,4.3-6.1,4.7-9.6   c0.1-0.7,0.2-1.5,0.2-2.2c0-8-5.7-14.9-13.5-16.4c-3-0.6-6-1.2-8.9-1.8c-23-4.6-46.7-9.5-71.1-7.9l-0.5,0c-1.1,0.1-3.5,0.2-6.1,0.3   c-0.6-2.1-2.4-3.7-4.7-3.7H12c-2.7,0-4.9,2.2-4.9,4.9v83.5c0,2.7,2.2,4.9,4.9,4.9h36.9c2,0,3.7-1.2,4.4-2.9l17.1,2.1   c19.5,2.4,46.1,5.6,47.2,5.8c3.7,0.7,7.2,1,10.6,1c8.2,0,15.5-1.9,22.1-5.9c0.1,0,0.1-0.1,0.2-0.1c0.6-0.4,63.5-35.9,91-53.9   c3.9-2.5,6.5-6.5,7.2-11.1C249.5,171.6,248.2,166.9,245.4,163.4z M44,231.1H16.9v-73.6H44V231.1z" />
                        <path d="M114.6,58.1H75.5v74.3h39.1V58.1z M104.8,122.6H85.3V68h19.4V122.6z" />
                        <path d="M227,42.7h-39.1v89.8H227V42.7z M217.2,122.6h-19.4V52.5h19.4V122.6z" />
                        <path d="M170.8,9h-39.1v123.4h39.1V9z M161,122.6h-19.4V18.9H161V122.6z" />
                       </g>
                        </svg>
                    </div>
                    <h3>
                        <a href="/feature-details/">Marketing</a>
                    </h3>
                    <p>Marketing info...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-f78acb">
                    <div class="icon">
                        <svg fill="#f78acb" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" width="24" height="24">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                        <g>
                        <rect x="155.039" y="97.251" width="122.5" height="30.625"></rect>
                        <rect x="197.148" y="142.232" width="122.5" height="30.625"></rect>
                        <path d="M8 4H16V20H8V4Z" fill="#000000"></path> <!-- Replaced rect with path -->
                        <rect x="197.148" y="232.193" width="122.5" height="30.632"></rect>
                        <rect x="155.039" y="277.166" width="122.5" height="30.625"></rect>
                        <path d="M22.969,362.717h183.75v52.951h-69.863v30.625h216.289v-30.625h-69.863v-52.951h183.75 c12.633,0,22.969-10.336,22.969-22.969V66.676c0-12.633-10.336-22.969-22.969-22.969H22.969C10.336,43.707,0,54.043,0,66.676 v273.073C0,352.381,10.336,362.717,22.969,362.717z M30.625,74.332h428.75v257.76H30.625V74.332z"></path>
                        </g>
                        </g>
                        </svg>
                    </div>
                    <h3>
                        <a href=@Url.Action("WebDesign", "Home")>Web Design and Development</a>
                    </h3>
                    <p>A powerful online presence is crucial in today's digital era. Our experienced web design and development team creates stunning, user-friendly websites that captivate your audience and deliver seamless user experiences. From responsive design to e-commerce solutions, we ensure your website is visually appealing, functional, and optimized for success.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-c679e3">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                    </div>
                    <h3>
                        <a href="@Url.Action("POS", "Home")">POS Design and Development</a>
                    </h3>
                    <p>POS info...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-c679e3">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                    </div>
                    <h3>
                        <a href="/feature-details/">Outsourcing Solutions</a>
                    </h3>
                    <p>We understand the importance of maximizing efficiency and reducing costs for businesses. Our outsourcing services cover a wide range of areas, including customer support, back-office operations, data entry, and more. By entrusting your non-core functions to us, you can free up valuable resources and concentrate on your core competencies.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Product Summary -->
<!-- Please fix the design -->
<div class="boxes-area bg-f7fafd mt-5" id="productSummary">
    <div class="page-title-area">
        <div class="">
            <h1>Products</h1>
        </div>
    </div>
    <div class="services-area ptb-80">
        <div class="container mb-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-12 services-content">
                    <div class="">
                        <h2>Gym Equipment</h2>
                        <div class="bar"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                    <path d="M21 12c0 1.66-4 3-9 3s-9-1.34-9-3"></path>
                                    <path d="M3 5v14c0 1.66 4 3 9 3s9-1.34 9-3V5"></path>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                                    <polyline points="13 2 13 9 20 9"></polyline>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline>
                                    <polyline points="17 6 23 6 23 12"></polyline>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                                    <line x1="8" y1="21" x2="16" y2="21"></line>
                                    <line x1="12" y1="17" x2="12" y2="21"></line>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                                    <polyline points="22,6 12,13 2,6"></polyline>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M18 10h-1.26A8 8 0 1 0 9 20h9a5 5 0 0 0 0-10z"></path>
                                </svg>
                                Gym Equip type
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 services-right-image">
                    <img src="../assets/img/services-right-image/box.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" data-wow-delay="0.6s" alt="box" />
                    <img src="../assets/img/services-right-image/chair.png" class="animate__animated animate__fadeInLeft animate__delay-0.2s" alt="chair" />
                    <img src="../assets/img/services-right-image/cloud.png" class="animate__animated animate__zoomIn animate__delay-0.2s" alt="cloud" />
                    <img src="../assets/img/services-right-image/cup.png" class="animate__animated animate__bounceIn animate__delay-0.2s" alt="cup" />
                    <img src="../assets/img/services-right-image/flower-top.png" class="animate__animated animate__fadeInDown animate__delay-0.2s" alt="flower" />
                    <img src="../assets/img/services-right-image/head-phone.png" class="animate__animated animate__zoomIn animate__delay-0.2s" alt="head-phone" />
                    <img src="../assets/img/services-right-image/monitor.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="monitor" />
                    <img src="../assets/img/services-right-image/mug.png" class="animate__animated animate__rotateIn animate__delay-0.2s" alt="mug" />
                    <img src="../assets/img/services-right-image/table.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="table" />
                    <img src="../assets/img/services-right-image/tissue.png" class="animate__animated animate__zoomIn animate__delay-0.2s" alt="tissue" />
                    <img src="../assets/img/services-right-image/water-bottle.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="water-bottle" />
                    <img src="../assets/img/services-right-image/wifi.png" class="animate__animated animate__fadeInLeft animate__delay-0.2s" data-wow-delay="0.6s" alt="wifi" />
                    <img src="../assets/img/services-right-image/cercle-shape.png" class="bg-image rotateme" alt="shape" />
                    <img src="../assets/img/services-right-image/service-right-main-pic.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="main-pic" />
                </div>
            </div>
        </div>
    </div>
    <div class="services-area ptb-80">
        <div class="container">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-lg-6 col-md-12 services-left-image">
                    <img src="../assets/img/services-left-image/big-monitor.png" class="animate__animated animate__fadeInDown animate__delay-0.2s" alt="big-monitor" />
                    <img src="../assets/img/services-left-image/creative.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="creative" />
                    <img src="../assets/img/services-left-image/developer.png" class="animate__animated animate__fadeInLeft animate__delay-0.2s" alt="developer" />
                    <img src="../assets/img/services-left-image/flower-top.png" class="animate__animated animate__fadeInLeft animate__delay-0.2s" data-wow-delay="0.6s" alt="flower-top" />
                    <img src="../assets/img/services-left-image/small-monitor.png" class="animate__animated animate__bounceIn animate__delay-0.2s" alt="small-monitor" />
                    <img src="../assets/img/services-left-image/small-top.png" class="animate__animated animate__fadeInDown animate__delay-0.2s" alt="small-top" />
                    <img src="../assets/img/services-left-image/table.png" class="animate__animated animate__zoomIn animate__delay-0.2s" alt="table" />
                    <img src="../assets/img/services-left-image/target.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="target" />
                    <img src="../assets/img/services-left-image/cercle-shape.png" class="bg-image rotateme" alt="shape" />
                    <img src="../assets/img/services-left-image/service-left-main-pic.png" class="animate__animated animate__fadeInUp animate__delay-0.2s" alt="main-pic" />
                </div>
                <div class="col-lg-6 col-md-12 services-content">
                    <div class="">
                        <h2>Software</h2>
                        <div class="bar"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                                    <line x1="3" y1="9" x2="21" y2="9"></line>
                                    <line x1="9" y1="21" x2="9" y2="9"></line>
                                </svg>
                                Microsoft Windows
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="16 18 22 12 16 6"></polyline>
                                    <polyline points="8 6 2 12 8 18"></polyline>
                                </svg>
                                Microsoft Office
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                                    <line x1="12" y1="18" x2="12.01" y2="18"></line>
                                </svg>
                                Antivirus
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="box">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="16 18 22 12 16 6"></polyline>
                                    <polyline points="8 6 2 12 8 18"></polyline>
                                </svg>
                                Cloud
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Blog Section -->
<div class="blog-area pb-50">
    <div class="container">
        <div class="section-title">
            <h2>The News from Our Blog</h2>
            <div class="bar"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="/blog-details/">
                            <img src="../assets/img/blog-image/blog1.jpg" alt="image" />
                        </a>
                        <div class="date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            March 15, 2021
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3>
                            <a href="/blog-details/">The Security Risks of Changing Package Owners</a>
                        </h3>
                        <span>
                            By <a href="#">Admin</a>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a class="read-more-btn" href="/blog-details/">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="/blog-details/">
                            <img src="../assets/img/blog-image/blog2.jpg" alt="image" />
                        </a>
                        <div class="date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            March 17, 2021
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3>
                            <a href="/blog-details/">Tips to Protecting Your Business and Family</a>
                        </h3>
                        <span>
                            By <a href="/it-startup/#">Smith</a>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a class="read-more-btn" href="/blog-details/">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="blog-image">
                        <a href="/blog-details/">
                            <img src="../assets/img/blog-image/blog3.jpg" alt="image" />
                        </a>
                        <div class="date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            March 19, 2021
                        </div>
                    </div>
                    <div class="blog-post-content">
                        <h3>
                            <a href="/blog-details/">Protect Your Workplace from Cyber Attacks</a>
                        </h3>
                        <span>
                            By <a href="/it-startup/#">John</a>
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
                        <a class="read-more-btn" href="/blog-details/">
                            Read More
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* Frequently asked questions *@
<section class="toc-area pb-80 pt-sm-1">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <div class="bar"></div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="accordion" id="tocAccordion">
                    <!-- Web Design and Development Card -->
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h3 class="mb-0">
                                <button class="toc-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is Web Design and Development?
                                </button>
                            </h3>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#tocAccordion">
                            <div class="card-body">
                                <p>
                                    Website design and development encompasses the process of creating a website from scratch or enhancing an existing one. It involves various elements, including visual design, user experience (UX), and technical implementation.
                                </p>
                                <div class="container">
                                    <div class="row">
                                        <!-- Step 1 -->
                                        <div class="col-md-4">
                                            <div class="card">
                                                <img class="card-img-top mx-auto d-block img-fluid rounded-circle" src="images/placehold.jpg" alt="web dev process">
                                                <div class="card-body">
                                                    <h4 class="card-title">Step 1</h4>
                                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lectus sit amet eleifend posuere."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Step 2 -->
                                        <div class="col-md-4">
                                            <div class="card">
                                                <img class="card-img-top mx-auto d-block img-fluid rounded-circle" src="images/placehold.jpg" alt="web dev process">
                                                <div class="card-body">
                                                    <h4 class="card-title">Step 2</h4>
                                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lectus sit amet eleifend posuere."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Step 3 -->
                                        <div class="col-md-4">
                                            <div class="card">
                                                <img class="card-img-top mx-auto d-block img-fluid rounded-circle" src="images/placehold.jpg" alt="web dev process">
                                                <div class="card-body">
                                                    <h4 class="card-title">Step 3</h4>
                                                    <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam lectus sit amet eleifend posuere."</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SEO Card -->
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="toc-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is SEO?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#tocAccordion">
                            <div class="card-body">
                                <p>
                                    Search engine optimization (SEO) is the process of improving the quality and quantity of website traffic to a website or a web page from search engines. SEO targets unpaid traffic (known as "natural" or "organic" results) rather than direct traffic or paid traffic. Unpaid traffic may originate from different kinds of searches, including image search, video search, academic search, news search, and industry-specific vertical search engines.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- POS Card -->
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="toc-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What is Point of Sale System?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#tocAccordion">
                            <div class="card-body">
                                <p>
                                    A POS or point of sale is a device that is used to process transactions by retail customers. A cash register is a type of POS. The cash register has largely been replaced by electronic POS terminals that can be used to process credit cards and debit cards as well as cash.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Email *@
<div class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="email-form text-center">
                    <h4>Let's grow your digital business in advance with Future Craft Digital</h4>
                    <form class="my-5">
                        <div class="input-group">
                            <input type="email" class="fc-email form-control" placeholder="Email address*" required>
                            <div class="input-group-append">
                                <button class="btn-email" type="submit">Get updates in ADVANCE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
