@{
    ViewBag.Title = "Marketing";
}


<!-- Start Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Marketing | Social Media Management</h2>
            </div>
        </div>
    </div>

    <div class="shape1"><img src="~/assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="~/assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="~/assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="~/assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="~/assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- SMM -->
<div class="services-details-area ptb-80">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 services-details-image">
                <img src="~/Assets/img/marketing/sm.png" class="animate__animated animate__fadeInUp" alt="image" />
            </div>
            <div class="col-lg-6 services-details">
                <div class="services-details-desc">
                    <h3>Social Media Management</h3>
                    <p>In today's digital landscape, social media has become an integral part of any successful marketing strategy. Social media platforms provide businesses with a unique opportunity to connect and engage with their target audience, build brand awareness, and foster meaningful relationships. However, managing multiple social media accounts, creating engaging content, and staying on top of trends can be a challenging task. </p>
                    <p>That's where our social media management services come in. We take the hassle out of social media by developing and executing comprehensive strategies that drive results. From content creation and scheduling to community management and analytics, we handle all aspects of your social media presence to ensure your business stands out in the crowded digital world.</p>
                </div>
            </div>
        </div>
        <div class="separate"></div>
        <div class="row align-items-center">
            <div class="col-lg-6 services-details">
                <div class="services-details-desc">
                    <p>With our social media management services, you can expect comprehensive content creation and scheduling, community management and engagement, and analytics-driven performance tracking. We are dedicated to helping your business harness the power of social media to increase brand visibility, engage with your audience, and achieve your marketing goals. Let us handle your social media presence, while you focus on what you do best - running your business.</p>
                    <div class="services-details-accordion">
                        <div data-accordion-component="Accordion" class="accordion">
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                        <span>Content Creation and Scheduling</span>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a">
                                    <p>Expect our social media management services to include content creation and scheduling. We develop engaging and compelling social media content tailored to your brand and target audience. Our team creates a content calendar and schedules posts strategically, ensuring consistent and timely delivery of content that resonates with your audience. By providing valuable and engaging content, we aim to increase brand visibility, encourage interactions, and drive audience engagement on social media platforms.</p>
                                </div>
                            </div>
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                        <span>Community Management and Engagement</span>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                                    <p>We understand the importance of fostering meaningful connections with your audience on social media. Our team actively monitors your social media channels, responds to comments, messages, and inquiries promptly, and engages with your audience in a genuine and authentic manner. We strive to build a loyal and engaged community around your brand, encouraging conversations, and fostering positive relationships with your customers.</p>
                                </div>
                            </div>
                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                        <span>Analytics and Performance Tracking</span>
                                    </div>
                                </div>
                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                                    <p>We believe in data-driven decision-making. Our social media management services include regular performance tracking and analytics reporting. We measure key metrics such as reach, engagement, follower growth, click-through rates, and more. By analyzing this data, we gain insights into the effectiveness of our social media strategies and make informed adjustments to optimize your social media presence. Our reports provide valuable insights into audience behavior and campaign performance, helping you make data-driven decisions for future marketing efforts.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 services-details-image">
                <img src="~/Assets/img/marketing/sm2.png" class="animate__animated animate__fadeInUp" alt="image" />
            </div>
        </div>
    </div>
</div>

