
@{
    ViewBag.Title = "Microsoft Office";
}

<div class="office-banner">
    <div class="main-container">
        <h6>Microsoft Office</h6>
        <table class="microsoftOfficeTbl">
            <tr>
                <th></th>
                <th></th>
                <th class="data-3"> <h6>Reviews</h6> </th>
            </tr>
            <tr class="row-2">
                <td class="data-1"><img src="../assets/img/shop-image/software/office-365.png" alt="Image Of Microsoft Office 365 Professional Plus" /></td>
                <td class="data-2"><a class="link" href="#">Microsoft Office 365 Professional Plus For 15 Devices</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-3">
                <td class="data-1"><img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office 365 Professional 2021" /></td>
                <td class="data-2"><a class="link" href="#">Microsoft Office Professional Plus 2021</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-4">
                <td class="data-1"><img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office Home and Business 2021" /></td>
                <td class="data-2"><a class="link" href="#">Microsoft Office Home and Business 2021</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-5">
                <td class="data-1"><img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office Professional Plus 2019" /></td>
                <td class="data-2"><a class="link" href="#">Microsoft Office Professional Plus 2019</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-6">
                <td class="data-1"><img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office Home and Business 2019" /></td>
                <td class="data-2"><a class="link" href="#">Microsoft Office Home and Business 2019</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-7">
                <td class="data-1"><img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office Professional Plus 2016" /></td>
                <td class="data-2"><a class="link" href="#">Microsoft Office Professional Plus 2016</a></td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
        </table>
    </div>
</div>
<div class="office-banner-2"></div>


