@{
    ViewBag.Title = "POS";
}


@* POS Banner *@
<div class="ml-main-section" style="background-image: url(/Assets/img/banner-bg.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-content">
                    <h1>Efficient Point of Sale Solutions for Your Business</h1>
                    <p>We offer cutting-edge point-of-sale solutions tailored to meet the unique needs of your business. Our feature-rich POS system provides you with the tools you need to streamline your operations, increase sales, and enhance customer experiences.</p>
                    <a class="btn btn-secondary" href="/contact/">Get Started</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="ml-banner-image" style="top: 0;">
                    <img src="~/Assets/img/ml-main-pic.png" alt="image">
                </div>
            </div>
        </div>
    </div>
<div class="shape1">
    <img src="../assets/img/shape1.png" alt="shape" />
</div>
<div class="shape2 rotateme">
    <img src="../assets/img/shape2.svg" alt="shape" />
</div>
<div class="shape3">
    <img src="../assets/img/shape3.svg" alt="shape" />
</div>
<div class="shape4">
    <img src="../assets/img/shape4.svg" alt="shape" />
</div>
<div class="shape5">
    <img src="../assets/img/shape5.png" alt="shape" />
</div>
<div class="shape6 rotateme">
    <img src="../assets/img/shape4.svg" alt="shape" />
</div>
<div class="shape7">
    <img src="../assets/img/shape4.svg" alt="shape" />
</div>
<div class="shape8 rotateme">
    <img src="../assets/img/shape2.svg" alt="shape" />
</div>
</div>


