@{ ViewBag.Title = "About"; }


<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h1>SMDC Shore 2 Pasay a Residential Condominium</h1>
            </div>
        </div>
    </div>

    <div class="shape1"><img data-cfsrc="../assets/img/shape1.png" alt="shape" style="display:none;visibility:hidden;"><noscript><img src="assets/img/shape1.png" alt="shape"></noscript></div>
    <div class="shape2 rotateme"><img src="../assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="../assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img data-cfsrc="../assets/img/shape5.png" alt="shape" style="display:none;visibility:hidden;"><noscript><img src="assets/img/shape5.png" alt="shape"></noscript></div>
    <div class="shape6 rotateme"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="../assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- Start Shop Details Area -->
<div class="shop-details-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Property Rental</h2>
            <div class="bar"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="products-details-carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Assets/img/rental/image2.jpeg" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Assets/img/rental/image4.jpeg" alt="Image 2">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Assets/img/rental/image7.jpeg" alt="Image 3">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Assets/img/rental/image6.jpeg" alt="Image 4">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Assets/img/rental/image8.png" alt="Image 5">
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="1"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="2"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="3"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="4"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#products-details-carousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#products-details-carousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ptb-80">
                    <div class="container">
                        <div class="auth-form">
                            <div class="auth-head">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Full Name" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Company Name" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="email" placeholder="Work Email" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="number" placeholder="Phone Number" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                            <button type="submit" class="btn btn-primary">Get in Touch Now</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="foot">
                                    <p>Contact Us: 0956-150-9151</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="products-details-tabs">
                    <ul id="tabs">
                        <li class="active" id="tab_1">Information</li>
                        <li class="inactive" id="tab_2">Unit Description</li>
                        <li class="inactive" id="tab_3">Reviews</li>
                    </ul>

                    <div class="content show" id="tab_1_content">
                        <div class="products-description">
                            <p>
                                The location of SMDC Shore 2 Pasay provides convenient trasportation options. It is near in major roads and highways, making it accessible to various parts of Metro Manila. Additionally,  the development is close to the Ninoy Aquino International Airport (NAIA), which is a significant advantage for frequent travelers.
                            </p>
                        </div>
                    </div>

                    <div class="content" id="tab_2_content">
                        <div class="products-description">
                            <ul class="additional-information">
                                <li><span>Rent Cost</span> 40,000 monthly</li>
                                <li><span>Daily Rent</span>3,500 daily 24 hrs</li>
                                <li><span>Type</span>Fully Furnished</li>
                                <li><span>Bedroom</span>2 Bedrooms</li>
                                <li><span>Bathroom</span>1 Toilet and Bath</li>
                            </ul>
                        </div>
                    </div>

                    <div class="content" id="tab_3_content">
                        <div class="products-reviews">
                            <h3>Customer Reviews</h3>
                            <div class="customer-review">
                                <div class="customer-info">
                                    <img src="~/Assets/img/team-image/team4.jpg" alt="Customer Avatar">
                                    <h4>John Doe</h4>
                                </div>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed ullamcorper ligula eu mauris vehicula, at sollicitudin justo sagittis. Suspendisse potenti.</p>
                                    <div class="star-rating">
                                        <span class="star">&#9734;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                </div>
                            </div>

                            <form class="review-form">
                                <p>Rate this item</p>

                                <div class="star-source">
                                    <svg>
                                        <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                                            <stop stop-color="#f2b01e" offset="0%"></stop>
                                            <stop stop-color="#f2b01e" offset="60%"></stop>
                                            <stop stop-color="#f2b01e" offset="100%"></stop>
                                        </linearGradient>
                                        <symbol id="star" viewBox="153 89 106 108">
                                            <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
                                        </symbol>
                                    </svg>
                                </div>

                                <div class="star-rating">
                                    <input type="radio" name="star" id="five">
                                    <label for="five">
                                        <svg class="star">
                                            <use xlink:href="#star" />
                                        </svg>
                                    </label>

                                    <input type="radio" name="star" id="four">
                                    <label for="four">
                                        <svg class="star">
                                            <use xlink:href="#star" />
                                        </svg>
                                    </label>

                                    <input type="radio" name="star" id="three">
                                    <label for="three">
                                        <svg class="star">
                                            <use xlink:href="#star" />
                                        </svg>
                                    </label>

                                    <input type="radio" name="star" id="two">
                                    <label for="two">
                                        <svg class="star">
                                            <use xlink:href="#star" />
                                        </svg>
                                    </label>

                                    <input type="radio" name="star" id="one">
                                    <label for="one">
                                        <svg class="star">
                                            <use xlink:href="#star" />
                                        </svg>
                                    </label>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <textarea name="review-message" id="message" cols="30" rows="4" placeholder="Write your review*" class="form-control"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Name*" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email*" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--More Details in Accordion-->
<div class="faq-area ptb-80">
    <div class="container">
        <div class="faq-accordion">
            <div data-accordion-component="Accordion" class="accordion">
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Where to find?</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a">
                        <p>SMDC Shore 2 Pasay is situated along Sunrise Drive, Mall of Asia Complex, Pasay City. It is strategically located near Manila Bay, providing residents with stunning views of the bay and its famous sunset.</p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>About the Developer</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b" hidden="">
                        <p>The project is developed by SM Development Corporation (SMDC), one of the leading real estate developers in the Philippines. SMDC is known for its high-rise condominium projects that offer modern amenities and prime locations.</p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Condominium Features</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c" hidden="">
                        <p>SMDC Shore 2 Pasay is a high-rise residential condominium with multiple towers. The development offers various unit configurations, including studio, one-bedroom, two-bedroom, and three-bedroom units, catering to different lifestyle needs.</p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-d" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-d" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Amenities</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-d" id="accordion__panel-d" hidden="">
                        <p>LThe condominium provides a range of amenities to its residents. These may include swimming pools, fitness centers, function rooms, landscaped gardens, children's play areas, jogging paths, and 24-hour security. The specific amenities may vary depending on the project's design and offerings.</p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-e" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-e" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Proximity to Mall of Asia</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-e" id="accordion__panel-e" hidden="">
                        <p>
                            SMDC Shore 2 Pasay is located in close proximity to the SM Mall of Asia, one of the largest shopping centers in the Philippines. Residents can enjoy easy access to a wide array of retail shops, restaurants, entertainment options, and cinemas.
                        </p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-f" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-f" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Transportation Accessibility</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-f" id="accordion__panel-f" hidden="">
                        <p>The location of SMDC Shore 2 Pasay provides convenient transportation options. It is near major roads and highways, making it accessible to various parts of Metro Manila. Additionally, the development is close to the Ninoy Aquino International Airport, which is a significant advantage for frequent travelers.</p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-g" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-g" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Nearby Establishments</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-g" id="accordion__panel-g" hidden="">
                        <p>Aside from the Mall of Asia, SMDC Shore 2 Pasay is also near other key establishments such as the SMX Convention Center, the Cultural Center of the Philippines, and the Philippine International Convention Center. Residents have easy access to cultural events, exhibitions, and conventions happening in the area.</p>
                    </div>
                </div>
                <div data-accordion-component="AccordionItem" class="accordion__item">
                    <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                        <div class="accordion__button" id="accordion__heading-h" aria-disabled="false" aria-expanded="false" aria-controls="accordion__panel-h" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                            <span>Investment Potential</span>
                        </div>
                    </div>
                    <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-h" id="accordion__panel-h" hidden="">
                        <p>SMDC Shore 2 Pasay offers a potential investment opportunity for buyers. The proximity to popular destinations, such as the Mall of Asia and the airport, can attract tenants and ensure a steady rental income. The development's location within the thriving Mall of Asia Complex also contributes to its investment potential.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partnership -->
<div class="faq-contact">
    <div class="section-title">
        <h2>Are you prepared to establish a partnership?</h2>
        <div class="bar"></div>
        <p>Unlock the potential for collaborative success in optimizing client transactions. Share your contact information with Future Craft Digital by completing the form below. Together, we can enhance our partnership and maximize the benefits for potential property owners.</p>
    </div>
    <form id="contactForm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Full Name" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Company Name" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Work Email" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="subject" placeholder="Your Subject" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <textarea name="text" cols="30" rows="6" placeholder="Write your message..." class="form-control"></textarea>
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="form-group text-center">
                <!-- Added 'text-center' class -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="terms" id="termsCheckbox" required>
                    <label class="form-check-label" for="termsCheckbox">
                        I accept the terms and conditions
                    </label>
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-12 col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Get in Touch</button>
            </div>
        </div>
    </form>
</div>
