@{ ViewBag.Title = "Real Estate"; }

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h1>SMDC Shore 2 Pasay a Residential Condominium</h1>
            </div>
        </div>
    </div>

    <div class="shape1"><img data-cfsrc="../assets/img/shape1.png" alt="shape" style="display:none;visibility:hidden;"><noscript><img src="assets/img/shape1.png" alt="shape"></noscript></div>
    <div class="shape2 rotateme"><img src="../assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="../assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img data-cfsrc="../assets/img/shape5.png" alt="shape" style="display:none;visibility:hidden;"><noscript><img src="assets/img/shape5.png" alt="shape"></noscript></div>
    <div class="shape6 rotateme"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="../assets/img/shape2.svg" alt="shape"></div>
</div>
<!-- End Page Title -->
<!-- Start Shop Details Area -->
<div class="shop-details-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Property Rental</h2>
            <div class="bar"></div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="products-details-carousel" class="carousel slide" style="width: 100%;" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../Assets/img/rental/image2.jpeg" alt="Image 1">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="width: 40rem; height: 30rem; object-fit: cover;" src="../Assets/img/rental/image4.jpeg" alt="Image 2">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-white">Grand Lobby</h5>
                                <p class="text-white">Welcome guests and invite envy at the Grand Lobby: a lavishly-designed hall for families and friends to lounge in.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="width: 40rem; height: 30rem; object-fit: cover;" src="../Assets/img/rental/image7.jpeg" alt="Image 3">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-white">Amenities</h5>
                                <p class="text-white">Shore 2 Residences offers a premier riverfront inspired lifestyle, with pools that stretch throughout the amenity deck of this development.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="width: 40rem; height: 30rem; object-fit: cover;" src="../Assets/img/rental/image6.jpeg" alt="Image 4">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-white">Grand Lobby</h5>
                                <p class="text-white">Welcome guests and invite envy at the Grand Lobby: a lavishly-designed hall for families and friends to lounge in.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" style="width: 40rem; height: 30rem; object-fit: cover;" src="../Assets/img/rental/image8.png" alt="Image 5">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="text-white">Amenities</h5>
                                <p class="text-white">Shore 2 Residences offers a premier riverfront inspired lifestyle, with pools that stretch throughout the amenity deck of this development.</p>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="1"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="2"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="3"></li>
                        <li data-bs-target="#products-details-carousel" data-bs-slide-to="4"></li>
                    </ol>
                    <a class="carousel-control-prev" href="#products-details-carousel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#products-details-carousel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ptb-80">
                    <div class="container">
                        <div class="auth-form">
                            <div class="auth-head">
                                <form id="contactForm">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Full Name" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="name" placeholder="Company Name" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="email" placeholder="Work Email" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <input type="text" name="number" placeholder="Phone Number" class="form-control" value="" />
                                                <div class="invalid-feedback" style="display:block"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-12">
                                            <button type="submit" class="btn btn-primary">Get in Touch Now</button>
                                        </div>
                                    </div>
                                </form>
                                <div class="foot">
                                    <p>Contact Us: 0956-150-9151</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="products-details-tabs">
                    <ul id="tabs">
                        <li class="active" id="tab_1">Information</li>
                        <li class="inactive" id="tab_2">Unit Description</li>
                        <li class="inactive" id="tab_3">Reviews</li>
                    </ul>

                    <div class="content show" id="tab_1_content">
                        <div class="products-description">
                            <div class="faq-area ptb-10">
                                <div class="container">
                                    <div class="faq-accordion">
                                        <div data-accordion-component="Accordion" class="accordion">
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-a" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-a" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Condominium Location</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-a" id="accordion__panel-a">
                                                    <p>SMDC Shore 2 Pasay is situated along Sunrise Drive, Mall of Asia Complex, Pasay City. It is strategically located near Manila Bay, providing residents with stunning views of the bay and its famous sunset.</p>
                                                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-dzVt_2Hd2QBxpXlqiEqe8gsUoY-nII&ehbc=2E312F" style="width: 90%; height: 20rem;"></iframe>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-b" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-b" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>About the Developer</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-b" id="accordion__panel-b">
                                                    <p>The project is developed by SM Development Corporation (SMDC), one of the leading real estate developers in the Philippines. SMDC is known for its high-rise condominium projects that offer modern amenities and prime locations.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-c" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-c" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Condominium Features</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-c" id="accordion__panel-c">
                                                    <p>SMDC Shore 2 Pasay is a high-rise residential condominium with multiple towers. The development offers various unit configurations, including studio, one-bedroom, two-bedroom, and three-bedroom units, catering to different lifestyle needs.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-d" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-d" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Amenities</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-d" id="accordion__panel-d">
                                                    <p>The condominium provides a range of amenities to its residents. These may include swimming pools, fitness centers, function rooms, landscaped gardens, children's play areas, jogging paths, and 24-hour security. The specific amenities may vary depending on the project's design and offerings.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-e" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-e" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Proximity to Mall of Asia</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-e" id="accordion__panel-e">
                                                    <p>
                                                        SMDC Shore 2 Pasay is located in close proximity to the SM Mall of Asia, one of the largest shopping centers in the Philippines. Residents can enjoy easy access to a wide array of retail shops, restaurants, entertainment options, and cinemas.
                                                    </p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-f" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-f" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Transportation Accessibility</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-f" id="accordion__panel-f">
                                                    <p>The location of SMDC Shore 2 Pasay provides convenient transportation options. It is near major roads and highways, making it accessible to various parts of Metro Manila. Additionally, the development is close to the Ninoy Aquino International Airport, which is a significant advantage for frequent travelers.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-g" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-g" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Nearby Establishments</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-g" id="accordion__panel-g">
                                                    <p>Aside from the Mall of Asia, SMDC Shore 2 Pasay is also near other key establishments such as the SMX Convention Center, the Cultural Center of the Philippines, and the Philippine International Convention Center. Residents have easy access to cultural events, exhibitions, and conventions happening in the area.</p>
                                                </div>
                                            </div>
                                            <div data-accordion-component="AccordionItem" class="accordion__item">
                                                <div data-accordion-component="AccordionItemHeading" role="heading" class="accordion__heading" aria-level="3">
                                                    <div class="accordion__button" id="accordion__heading-h" aria-disabled="false" aria-expanded="true" aria-controls="accordion__panel-h" role="button" tabindex="0" data-accordion-component="AccordionItemButton">
                                                        <span>Investment Potential</span>
                                                    </div>
                                                </div>
                                                <div data-accordion-component="AccordionItemPanel" class="accordion__panel" role="region" aria-labelledby="accordion__heading-h" id="accordion__panel-h">
                                                    <p>SMDC Shore 2 Pasay offers a potential investment opportunity for buyers. The proximity to popular destinations, such as the Mall of Asia and the airport, can attract tenants and ensure a steady rental income. The development's location within the thriving Mall of Asia Complex also contributes to its investment potential.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content" id="tab_2_content">
                        <div class="products-description">
                             <div class="row">
                                <div class="col-sm">
                                    <span class="material-symbols-outlined">location_on</span>
                                    <p>Location<br>Mall of Asia, Pasay City</p>
                                </div>
                                <div class="col-sm">
                                    <span class="material-symbols-outlined">payments</span>
                                    <p>Rent Cost<br>₱40,000 monthly<br>₱3,500 daily</p>
                                </div>
                                <div class="col-sm">
                                    <span class="material-symbols-outlined">bed</span>
                                    <p>Units<br>2-Bedroom Suite with Garden<br>1-Bedroom Unit with Balcony</p>
                                </div>
                                <div class="col-sm">
                                    <span class="material-symbols-outlined">shower</span>
                                    <p>Amenities<br>1 Toilet and Bathroom<br>Lounge Pool<br>Lap Pool<br>Kiddie Pool</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="content" id="tab_3_content">
                        <div class="products-reviews">
                            <h3>Customer Reviews</h3>
                            <div class="customer-review">
                                <div class="customer-info">
                                    <img src="~/Assets/img/team-image/team4.jpg" alt="Customer Avatar">
                                    <h4>John Doe</h4>
                                </div>
                                <div class="review-text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed ullamcorper ligula eu mauris vehicula, at sollicitudin justo sagittis. Suspendisse potenti.</p>
                                    <div class="star-rating">
                                        <span class="star">&#9734;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                        <span class="star">&#9733;</span>
                                    </div>
                                </div>
                            </div>

                            <form class="review-form">
                                <p>Rate this item</p>

                                <div class="star-source">
                                    <svg>
                                        <linearGradient x1="50%" y1="5.41294643%" x2="87.5527344%" y2="65.4921875%" id="grad">
                                            <stop stop-color="#f2b01e" offset="0%"></stop>
                                            <stop stop-color="#f2b01e" offset="60%"></stop>
                                            <stop stop-color="#f2b01e" offset="100%"></stop>
                                        </linearGradient>
                                        <symbol id="star" viewBox="153 89 106 108">
                                            <polygon id="star-shape" stroke="url(#grad)" stroke-width="5" fill="currentColor" points="206 162.5 176.610737 185.45085 189.356511 150.407797 158.447174 129.54915 195.713758 130.842203 206 95 216.286242 130.842203 253.552826 129.54915 222.643489 150.407797 235.389263 185.45085"></polygon>
                                        </symbol>
                                    </svg>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partnership -->
<div class="faq-contact">
    <div class="section-title">
        <h2>Are you prepared to establish a partnership?</h2>
        <div class="bar"></div>
        <p>Unlock the potential for collaborative success in optimizing client transactions. Share your contact information with Future Craft Digital by completing the form below. Together, we can enhance our partnership and maximize the benefits for potential property owners.</p>
    </div>
    <form id="contactForm">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Full Name" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Company Name" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="email" placeholder="Work Email" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group">
                    <input type="text" name="subject" placeholder="Your Subject" class="form-control" value="" />
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="form-group">
                    <textarea name="text" cols="30" rows="6" placeholder="Write your message..." class="form-control"></textarea>
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="form-group text-center">
                <!-- Added 'text-center' class -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="terms" id="termsCheckbox" required>
                    <label class="form-check-label" for="termsCheckbox">
                        I accept the <a href="#" data-bs-toggle="modal" data-bs-target="#termsModal"><u>terms and conditions.</u></a>
                    </label>
                    <div class="invalid-feedback" style="display:block"></div>
                </div>
            </div>
            <div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="termsModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="termsModalLabel">Terms and Conditions</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Partnership Agreement: Real Estate Listing<br>

                        This Partnership Agreement ("Agreement") is entered into as of the Effective Date by and between [Your Company Name], hereinafter referred to as "Company A," and the party referred to as "Company B," collectively referred to as the "Parties." <br><br>

                        1. Purpose: <br>
                        The purpose of this Agreement is to establish a partnership between Company A and Company B for the listing of real estate properties on Company B's website. The partnership aims to enhance both parties' market presence and provide valuable services to their respective clients.<br><br>

                        2. Scope of Partnership: <br>
                        Company A grants Company B the non-exclusive right to display and list its real estate properties on Company B's website. Company B will provide a dedicated section on its website to showcase Company A's listings, along with relevant property details, descriptions, and images. <br><br>

                        3. Listing Process:<br>
                        a. Company A shall be responsible for providing accurate and up-to-date information about the real estate properties to be listed on Company B's website.<br>

                        b. Company B shall review and approve each property listing before it goes live on their website. However, Company B shall not be held responsible for the accuracy or completeness of the information provided by Company A.<br>

                        c. Both parties will work collaboratively to ensure that the property listings comply with all relevant laws, regulations, and industry standards.<br><br>

                        4. Duration of Partnership:<br>
                        This partnership shall commence on the Effective Date and will remain in effect for a period of 2 years. Either party may terminate this Agreement with 21 days written notice to the other party.<br><br>

                        5. Responsibilities of Company A:<br>
                        a. Company A shall provide Company B with high-quality images and detailed descriptions of each real estate property to be listed.<br>

                        b. Company A will promptly inform Company B of any changes or updates to the property listings.<br>

                        c. Company A will adhere to all laws, regulations, and ethical guidelines related to real estate transactions.<br><br>

                        6. Responsibilities of Company B:<br>
                        a. Company B shall display the property listings provided by Company A on its website in a professional manner.<br>

                        b. Company B will ensure that its website is accessible and functioning properly to showcase the real estate listings.<br>

                        c. Company B will provide reasonable technical support to address any issues related to the listing display.<br><br>

                        7. Intellectual Property:<br>
                        Each party shall retain ownership of its respective intellectual property, including but not limited to trademarks, logos, and copyrighted materials. Company A grants Company B the limited right to use its logos and property images solely for the purpose of listing on Company B's website.<br><br>

                        8. Confidentiality:<br>
                        Both parties agree to keep all non-public information shared during the course of this partnership confidential. This includes, but is not limited to, financial data, marketing strategies, and any other proprietary information.<br><br>

                        9. Indemnification:<br>
                        Both parties agree to indemnify and hold each other harmless from any claims, damages, or liabilities arising out of the other party's breach of this Agreement or any misrepresentation.<br><br>

                        10. Governing Law and Dispute Resolution:<br>
                        This Agreement shall be governed by the laws of [State/Country]. Any dispute arising out of or relating to this Agreement shall be resolved through good-faith negotiations between the Parties. If a resolution cannot be reached, both Parties agree to submit the matter to arbitration in accordance with the rules of the Philippine Government, and the decision of the arbitrator shall be final and binding.<br><br>

                        IN WITNESS WHEREOF, the Parties hereto have executed this Partnership Agreement as of the Effective Date.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="col-lg-12 col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Get in Touch</button>
            </div>
    </form>
</div>
