
@{
    ViewBag.Title = "Software";
}

<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h1>Future Craft Digital: Building the Future of Digital Excellence</h1>
            </div>
        </div>
    </div>

    <div class="shape1"><img data-cfsrc="../assets/img/shape1.png" alt="shape" style="display:none;visibility:hidden;"><noscript><img src="assets/img/shape1.png" alt="shape"></noscript></div>
    <div class="shape2 rotateme"><img src="../assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="../assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img data-cfsrc="../assets/img/shape5.png" alt="shape" style="display:none;visibility:hidden;"><noscript><img src="assets/img/shape5.png" alt="shape"></noscript></div>
    <div class="shape6 rotateme"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="../assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="../assets/img/shape2.svg" alt="shape"></div>
</div>
<div class="software-banner">
    <div class="software-container">
        <!-- List of softwares for exclusive picks-->
        <h4>Exclusive Picks:</h4>
        <div class="exclusive-picks">
            <!-- windows -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-2">
                    <div class="img-windows">
                        <img src="../assets/img/shop-image/software/windows.png" alt="Image Of Windows" />
                    </div>
                    <h3 class="title1"><a href="@Url.Action("Windows", "Home")">MICROSOFT WINDOWS</a></h3>
                    <p class="desc1">Elevate your digital operating experience.</p>
                </div>
            </div>
            <!-- microsoft office -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-2">
                    <div class="img-microsoftOffice">
                        <img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office" />
                    </div>
                    <h3 class="title2"><a href="@Url.Action("MicrosoftOffice", "Home")">MICROSOFT OFFICE</a></h3>
                    <p class="desc2">Maximize workplace productivity.</p>
                </div>
            </div>
            <!-- adobe creative cloud -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-2">
                    <div class="img-adobeCloud">
                        <img src="../assets/img/shop-image/software/adobe-cloud.png" alt="Image Of Adobe Creative Cloud" />
                    </div>
                    <h3 class="title3"><a href="@Url.Action("Cloud", "Home")">ADOBE CREATIVE CLOUD</a></h3>
                    <p class="desc3">Unlock limitless possibilities.</p>
                </div>
            </div>
            <!-- graphic design software -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box bg-eb6b3d" id="single-box-2">
                    <div class="img-graphicDesignSoftware">
                        <img src="../assets/img/shop-image/software/graphic-design-software.png" alt="Image Of Graphic Design Software" />
                    </div>
                    <h3 class="title4"><a href="#">GRAPHIC DESIGN SOFTWARE</a></h3>
                    <p class="desc4">Amplify your creative expression.</p>
                </div>
            </div>
        </div> <br /><br />
        <!-- Recommended software for specific users-->
        <div class="selectlbl">
            <h4>Select type of User</h4>
        </div>
        <!-- filter area-->
        <div class="filter">
            <select class="dropdownContainer" id="dropdown">
                <option value="all">All</option>
                <option value="students">Students</option>
                <option value="teachers">Teachers</option>
                <option value="designer">Designer</option>
            </select>
        </div>
        <div class="recommendedList">
            <!-- windows 11 -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-3">
                    <div class="img-windows11">
                        <img src="../assets/img/shop-image/software/windows11.png" alt="Image Of Windows11" />
                    </div>
                    <h3><a href="#">Windows 11</a></h3>
                </div>
            </div>
            <!-- windows 10 -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-3">
                    <div class="img-windows10">
                        <img src="../assets/img/shop-image/software/windows10.png" alt="Image Of Windows10" />
                    </div>
                    <h3><a href="#">Windows 10</a></h3>
                </div>
            </div>
            <!-- microsoft office 2013 -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-3">
                    <div class="img-microsoftOffice2013">
                        <img src="../assets/img/shop-image/software/microsoft-office.png" alt="Image Of Microsoft Office 2019" />
                    </div>
                    <h3><a href="#">Microsoft Office 2019</a></h3>
                </div>
            </div>
            <!-- microsoft office 365 -->
            <div class="col-lg-3 col-md-6">
                <div class="single-box" id="single-box-3">
                    <div class="img-microsoftOffice365">
                        <img src="../assets/img/shop-image/software/office-365.png" alt="Image Of Microsoft Office 365" />
                    </div>
                    <h3><a href="#">Microsoft Office 365</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="software-banner-2"></div>

