@{
    ViewBag.Title = "WebDesign";
}


<div class="main-container">
    <div class="container">
        <div class="section-title">
            <h1 class="font-weight-bold">Web Design and Development Services</h1>
            <h3>Transforming Your Ideas into Beautiful and Functional Websites</h3>
        </div>
        <div class="bar"></div>
        <div class="solutions-area pb-80">
            <div class="container justify-content-center">
                <div class="section-title">
                    <h4>Key Features</h4>
                    <div class="bar"></div>
                </div>
                <div class="row">
                    @* Responsive and Mobile-Friendly Design *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-landscape"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Responsive and Mobile-Friendly Design</h3>
                            <p>This refers to designing websites that adapt and display properly across various devices and screen sizes. It ensures a consistent and optimized user experience on desktops, laptops, tablets, and mobile devices.</p>
                        </div>
                    </div>
                    @* Custom Website Development *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-devices"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Custom Website Development</h3>
                            <p>Custom website development involves creating unique and tailor-made websites from scratch, specifically designed to meet the client's requirements. It typically involves coding and programming to implement custom features, functionality, and design elements.</p>
                        </div>
                    </div>
                    @* User Experience (UX) Design *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-chalkboard"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>User Experience (UX) Design</h3>
                            <p>UX design focuses on enhancing user satisfaction by improving the usability, accessibility, and overall interaction between users and a website. It involves understanding user behaviors, conducting research, and designing intuitive interfaces to create positive user experiences.</p>
                        </div>
                    </div>
                    @* E-commerce Solutions *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-chart"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>E-commerce Solutions</h3>
                            <p>E-commerce solutions involve building websites with features and functionality to facilitate online buying and selling. This may include creating product catalogs, shopping carts, secure payment gateways, order management systems, and inventory management capabilities.</p>
                        </div>
                    </div>
                    @* Search Engine Optimization (SEO) *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-search"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Search Engine Optimization (SEO)</h3>
                            <p>SEO involves implementing strategies to improve a website's visibility and ranking in search engine results. It focuses on optimizing website content, structure, and technical aspects to attract organic (non-paid) traffic from search engines like Google, Bing, and Yahoo.</p>
                        </div>
                    </div>
                    @* Website Maintenance and Support *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-support"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Website Maintenance and Support</h3>
                            <p>Website maintenance and support involve ongoing activities to ensure the smooth operation, security, and performance of a website. This includes regular updates, bug fixes, security patches, performance optimization, and providing technical assistance to website owners.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 



    <div class="shape1">
        <img src="../assets/img/shape1.png" alt="shape" />  
    </div>
    <div class="shape2 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
    <div class="shape3">
        <img src="../assets/img/shape3.svg" alt="shape" />
    </div>
    <div class="shape4">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape5">
        <img src="../assets/img/shape5.png" alt="shape" />
    </div>
    <div class="shape6 rotateme">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape7">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape8 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
</div>