@{
    ViewBag.Title = "WebDesign";
}


<div class="main-container">
    <div class="container">
        @* Website and Development Banner *@
        <div class="ml-main-banner">
            <div class="container-fluid">
                <div class="section-title" style="margin-top: 100px">
                    <h1 class="font-weight-bold">Web Design and Development Services</h1>
                    <h3>Transforming Your Ideas into Beautiful and Functional Websites</h3>
                    <a class="btn btn-secondary mt-5" href="/contact/">Get Started</a>
                </div>
            </div>
        </div>

        @* Technology Stack Logo Section *@
        <div class="ml-partner-area mt-minus-top ptb-80 pb-0">
            <div class="container">
                <div class="owl-carousel partner-slides owl-carousel owl-theme owl-loaded owl-drag">
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1838px, 0px, 0px); transition: all 1s ease 0s; width: 3883px;">
                            @* Partner Cloned 2 (React JS) *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-2.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover2.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 3 (Bootstrap Logo) *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-3.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover3.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 5 (PHP Logo) *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-5.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover5.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 6 (HTML5 Logo) *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-6.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover6.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 7 (Css3 Logo) *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-7.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover7.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner 1 (Javascript Logo)*@
                            <div class="owl-item" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-1.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover1.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner 2 (React JS) *@
                            <div class="owl-item" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-2.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover2.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner 3 (Bootstrap Logo)*@
                            <div class="owl-item" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-3.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover3.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Active 5 (PHP Logo)  *@
                            <div class="owl-item active" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-5.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover5.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Active 6 (HTML5 Logo)*@
                            <div class="owl-item active" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-6.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover6.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Active 7 (Css3 Logo)*@
                            <div class="owl-item active" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-7.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover7.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Active Cloned 1 (Javascript Logo)*@
                            <div class="owl-item cloned active" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-1.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover1.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Active Cloned 2 (React JS) *@
                            <div class="owl-item cloned active" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-2.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover2.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 3 (Bootstrap Logo)*@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-3.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover3.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 5 (PHP Logo)  *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-5.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover5.png" alt="image">
                                    </a>
                                </div>
                            </div>
                            @* Partner Cloned 6 (HTML5 Logo) *@
                            <div class="owl-item cloned" style="width: 204.333px;">
                                <div class="single-ml-partner">
                                    <a href="#" target="_blank">
                                        <img src="~/Assets/img/partner-img/partner-6.png" alt="image">
                                        <img src="~/Assets/img/partner-img/partner-hover6.png" alt="image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>

        @* Key Features *@
        <div class="solutions-area pb-80">
            <div class="container justify-content-center">
                <div class="section-title">
                    <span class="sub-title">What We Offer</span>
                    <h2>Our Featured Solutions</h2>
                    <div class="bar"></div>
                    <p>At Future Craft Digital, we specialize in creating stunning and user-friendly websites tailored to meet your unique business requirements.</p>
                </div>
                <div class="row">
                    @* Responsive and Mobile-Friendly Design *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-landscape"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Responsive and Mobile-Friendly Design</h3>
                            <p>This refers to designing websites that adapt and display properly across various devices and screen sizes. It ensures a consistent and optimized user experience on desktops, laptops, tablets, and mobile devices.</p>
                        </div>
                    </div>
                    @* Custom Website Development *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-devices"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Custom Website Development</h3>
                            <p>Custom website development involves creating unique and tailor-made websites from scratch, specifically designed to meet the client's requirements. It typically involves coding and programming to implement custom features, functionality, and design elements.</p>
                        </div>
                    </div>
                    @* User Experience (UX) Design *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-chalkboard"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>User Experience (UX) Design</h3>
                            <p>UX design focuses on enhancing user satisfaction by improving the usability, accessibility, and overall interaction between users and a website. It involves understanding user behaviors, conducting research, and designing intuitive interfaces to create positive user experiences.</p>
                        </div>
                    </div>
                    @* E-commerce Solutions *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-chart"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>E-commerce Solutions</h3>
                            <p>E-commerce solutions involve building websites with features and functionality to facilitate online buying and selling. This may include creating product catalogs, shopping carts, secure payment gateways, order management systems, and inventory management capabilities.</p>
                        </div>
                    </div>
                    @* Search Engine Optimization (SEO) *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-search"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Search Engine Optimization (SEO)</h3>
                            <p>SEO involves implementing strategies to improve a website's visibility and ranking in search engine results. It focuses on optimizing website content, structure, and technical aspects to attract organic (non-paid) traffic from search engines like Google, Bing, and Yahoo.</p>
                        </div>
                    </div>
                    @* Website Maintenance and Support *@
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="solutions-box">
                            <div class="icon">
                                <i class="bx bx-support"></i>
                                <img src="~/Assets/img/agency-image/agency-icon-bg.png" alt="image" />
                            </div>
                            <h3>Website Maintenance and Support</h3>
                            <p>Website maintenance and support involve ongoing activities to ensure the smooth operation, security, and performance of a website. This includes regular updates, bug fixes, security patches, performance optimization, and providing technical assistance to website owners.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Fun Facts Section *@
        <div class="funfacts-area ptb-80">
            <div class="container">
                <div class="section-title">
                    <h2>We always try to understand users expectation</h2>
                    <div class="bar"></div>
                    <p>By prioritizing user expectations, Future Craft Digital can create products, services, or experiences that align with user needs, resulting in enhanced satisfaction, engagement, and usability.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="funfact">
                            <h3>20K</h3>
                            <p>Feedback</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="funfact">
                            <h3>500+</h3>
                            <p>Workers</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="funfact">
                            <h3>70+</h3>
                            <p>Contributors</p>
                        </div>
                    </div>
                </div>
                <div class="contact-cta-box">
                    <h3>Have any question about us?</h3>
                    <p>Don't hesitate to contact us</p>
                    <a class="btn btn-primary" href="/contact/">Contact Us</a>
                </div>
                <div class="map-bg">
                    <img src="~/Assets/img/map.png" alt="map">
                </div>
            </div>
        </div>
    </div> 



    <div class="shape1">
        <img src="../assets/img/shape1.png" alt="shape" />  
    </div>
    <div class="shape2 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
    <div class="shape3">
        <img src="../assets/img/shape3.svg" alt="shape" />
    </div>
    <div class="shape4">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape5">
        <img src="../assets/img/shape5.png" alt="shape" />
    </div>
    <div class="shape6 rotateme">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape7">
        <img src="../assets/img/shape4.svg" alt="shape" />
    </div>
    <div class="shape8 rotateme">
        <img src="../assets/img/shape2.svg" alt="shape" />
    </div>
</div>