
@{
    ViewBag.Title = "Microsoft Windows";
}

<div class="windows-banner">
    <div class="main-container">
        <h6>Microsoft Windows</h6>
        <table class="microsoftWindowsTbl">
            <tr>
                <th></th>
                <th></th>
                <th class="data-3"> <h6>Reviews</h6> </th>
            </tr>
            <tr class="row-2">
                <td class="data-1"><img src="../assets/img/shop-image/software/windows11.png" alt="Image Of Windows11 - Pro for Workstation" /></td>
                <td class="data-2"><a class="link" href="#">Windows 11 Pro for Workstation</a> , 32/64-bit</td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-3">
                <td class="data-1"><img src="../assets/img/shop-image/software/windows11.png" alt="Image Of Windows11 - Professional" /></td>
                <td class="data-2"><a class="link" href="#">Windows 11 Professional</a> , 32/64-bit</td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-4">
                <td class="data-1"><img src="../assets/img/shop-image/software/windows11.png" alt="Image Of Windows11 - Home" /></td>
                <td class="data-2"><a class="link" href="#">Windows 11 Home</a> , 32/64-bit</td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-5">
                <td class="data-1"><img src="../assets/img/shop-image/software/windows10.png" alt="Image Of Windows10 - Pro for Workstation" /></td>
                <td class="data-2"><a class="link" href="#">Windows 10 Pro for Workstation</a> , 32/64-bit</td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-6">
                <td class="data-1"><img src="../assets/img/shop-image/software/windows10.png" alt="Image Of Windows10 - Professional" /></td>
                <td class="data-2"><a class="link" href="#">Windows 10 Professional</a> , 32/64-bit</td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
            <tr class="row-7">
                <td class="data-1"><img src="../assets/img/shop-image/software/windows10.png" alt="Image Of Windows10 - Home" /></td>
                <td class="data-2"><a class="link" href="#">Windows 10 Home</a> , 32/64-bit</td>
                <td class="data-3"><p>N/A</p></td>
            </tr>
        </table>
    </div>
</div>
<div class="windows-banner-2"></div>

